@charset "utf-8";
html, body {
	height:100%;
	margin:0;
	padding:0;
	background-color		: #F6F6F6;
	font-family			: 'Tahoma', 'Verdana', 'arial', 'sans-serif';
	font-size			: 12px;
	
}
#mainContainer {
	padding:0;
	min-height			: 100%;
	position			: relative;
}

#header{ 
	padding				: 0px 8px 8px 8px;  
}

#mainContents {
	padding				: 8px;
	margin-bottom : 20px;
}

#mainContents  UL LI {
        margin                          : 0em 0em 0em 2em;
        list-style                      : url( ../images/bullet1.gif );
}

img {
	border				: 0px none #FFFFFF;
	background-color		: transparent;
}
#top_menu {
	width				: 100%;
	padding-top			: 4px;
	background-image		: url(../images/tab_base_graph2.gif);
	background-repeat		: repeat-x;
	margin-bottom			: 6px;
	margin-top			: 6px;
}
#top_menu a{
	line-height			: 2em;
	padding				: 5px 10px 6px 10px;
	text-decoration			: none;
	font-size			: 11px;
	color				: #FFFFFF;
	font-weight			: bold;
}
#top_menu a:hover {
	color				: #000000;
}
#top_menu .selected {
	color				: #000000;
	background-color		: #F6F6F6;
	margin-left			: -3px;
}

#footer{
	position                        :absolute; 
	bottom				: 0px;
	margin-left			: 8px;
	margin-right			: 8px;
	height				: 20px;
	width				: 100%;
	font-size			: x-small;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #A4DDDB;
}


li:hover {
  outline : thin solid;
}

tr.row:hover {
  outline : thin solid;
}
div.row_outline:hover {
  outline : thin solid;
}

select.dropdown {
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      /*text-indent: 0.01px;*/ /* Removes default arrow from firefox*/
      /*text-overflow: "";*/ /*Removes default arrow from firefox*/

	margin:1px 1px 3px 1px; 
	font-size:12px; 
	padding: 1px 17px 1px 2px; 
	border-radius: 5px; 
	border: solid 1px #20538D; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); 

	/*background: linear-gradient(#FEFEFE, #E0E0E0);  */
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='30'> <polyline stroke-linecap='round' stroke-width='2.5' stroke='black' fill='none' points='287,13 291,17 295,13' /> </svg>"), linear-gradient(#F0F0F0, #E0E0E0); 

	background-position: right;
	background-repeat: no-repeat;
	background-color: #EEEEEE;
}

button.shadowbutton {
	font-size:10px; 
	padding: 1px 4px; 
	margin-left:15px; 
	border-radius: 5px; 
	border: solid 1px #20538D; 
	color: black;
	background: #EEEEEE; 
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


input.sliminput {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/

	margin:1px 1px 1px 3px; 
	font-size:12px; 
	padding: 2px 5px 2px 7px; 
	border-radius: 3px; 
	border: solid 1.5px #A0A0A0; 
}


input.slimbutton {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
        /*
	//padding: 2px 5px 2px 7px; 
	//margin-left:5px; 
        */

	margin:1px 1px 1px 3px; 
	font-size:11px; 
	border-radius: 5px; 
	/*border: solid 1.5px #A0A0A0; */
	border: solid 1px #20538D; 

	font-family:arial,helvetica,sans-serif; 
	padding: 1px 4px; 
	background: #EEEEEE; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

input.slimbutton:hover {
        background: #DDDDDD;
}

input.medbutton {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/

	margin:1px 4px 4px 4px; 
	font-size:12px; 
	font-weight:bold; 
	border-radius: 5px; 
	border: solid 1px #20538D; 

	font-family:arial,helvetica,sans-serif; 
	padding: 2px 7px; 
	background: #EEEEEE; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

input.medbutton:hover {
        background: #DDDDDD;
}


input.largebutton {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/

	margin:1px 4px 4px 4px; 
	font-size:14px; 
	font-weight:bold; 
	border-radius: 5px; 
	border: solid 1px #20538D; 

	font-family:arial,helvetica,sans-serif; 
	padding: 3px 8px; 
	background: #EEEEEE; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

input.largebutton:hover {
        background: #DDDDDD;
}


